/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

ul.list-group {
    margin-top: 20px;
    max-height: 400px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Make the list scrollable */
}

ul.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.list-group-item div {
    flex: 1;
    text-align: left;
}

ul.list-group-item button {
    margin-left: 20px;
}

@media (max-width: 600px) {
    ul.list-group-item {
        flex-direction: column;
        align-items: flex-start;
    }

    ul.list-group-item button {
        margin-top: 10px;
        width: 100%;
    }
}